p{
    animation: mymove 5s infinite;
  }
  
  @keyframes mymove {
    from {
        margin-left: 0px;
      }
    
      50% {
        margin-left: 100px;
        opacity: 0.5;
      }
    
      to {
        margin-left: 0px;
      }
  }